form {
    width: 100%;
    .form-row {
        display: flex;
    
        input, textarea {
            color: #000;
            padding: 15px 20px;
            border-radius: 10px;
            border: none;
            outline: none;
        }
        > button {
            background: #4444DC;
        }
    }
}